
<mat-toolbar color="primary" class="mat-elevation-z8">
    <button  mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>Material UI Tutorial</span>
    <span class="example-spacer"></span>
    
</mat-toolbar>
<mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
        <mat-list-item>
            <button routerLink="studentlist" mat-button><mat-icon>dashboard</mat-icon> Student</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="departmentlist" mat-button><mat-icon>home</mat-icon> Department</button>
        </mat-list-item>
    </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div style="text-align: center;min-height: 600px;">

            <router-outlet></router-outlet>
            </div>
    </mat-drawer-content>
</mat-drawer-container>